.menu-top [type="checkbox"] {
  display: none;
}
.menu-top label.toggleMenu {
  display: none;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
}
.menu-top label.toggleMenu div {
  width: 26px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  margin: 6px 0;
}
@media all and (max-width: 576px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  .menu-top {
    flex-direction: column;
  }
  .about-me-section {
    flex-direction: column;
  }
  .my-portfolio {
    padding: 20px 5px;
  }
}
