@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(203, 247, 201);
}
.title {
  text-align: center;
  color: #070707;
}
p {
  text-align: center;
  color: #070707;
}
/* header */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  background-color: #fff;
}
a.nav-link {
  text-decoration: none;
  color: #828282;
  text-align: center;
  padding: 28px 50px;
}
a.nav-link:hover {
  box-shadow: 0 0 3px #828282;
}

/* about me section */
.about-me-section {
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.about-me-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}
.my-name {
  font-weight: bold;
  color: #070707;
}

/* about me */

.about-me {
  background: #d1ecd7;
  padding: 30px 0;
}

/* Skills section */

.skills-section {
  padding: 30px 0;
  background: #fff;
}
.skills-section-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill img {
  width: 90px;
  height: 90px;
}

/* My portfolio */

.my-portfolio {
  background: #d1ecd7;
  padding: 30px 20px;
  text-align: center;
}

/* footer */

/* My contact */

.my-contact {
  padding: 30px 0;
  background: #fff;
}
.my-contact-list {
  display: flex;
  justify-content: space-evenly;
}
.my-contact-list img {
  width: 40px;
  height: 40px;
}
.my-contact-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #828282;
}

/* button home */

.home {
  border: 1px solid #828282;
  border-radius: 5px;
  position: fixed;
  bottom: 8px;
  right: 4px;
}
